.main {
  /* height: 1000px; */
  position: relative;
  z-index: 2;
  margin-top: 980rem;
  background-color: #1f1f1d;
}

/* .main.scroll {
  backdrop-filter: blur(12px);
} */

:root {
  --desktop: 1023px;
  --tablet: 767px;
  --mobile: 575px;

  /* --background-color: #f7ebdd; лендровер*/
  /* --background-color: #d7def5; дорога */
  --background-color: #d3d4c9;

  /* --header-nav-color: #d6a354; лендровер*/
  --header-nav-color: #fff;

  --header-address-color: #fff;
  --h1-color: #d6a354;

  /* --title-article-color: #885a8c; лендровер*/
  /* --title-article-color: #4b3a56; дорога */
  --title-article-color: #304d6c;

  /* --title-p-color: #7e250a; лендровер*/
  /* --title-p-color: #8b343c;  дорога*/
  --title-p-color: #7f8879;

  /* --pref-title-color: "#dbbd9a"; лендровер*/
  /* --pref-title-color: "#a3adce"; дорога*/
  --pref-title-color: #d3d4c9;

  /* --text-color: #514f34; лендровер*/
  /* --text-color: #17231d;  дорога*/
  --text-color: #57545b;

  --calc-background-color: #252525;
  --button-text-color: #fff;
}

@font-face {
  font-family: "Inter-Italic-Thin";
  src: url("fonts/inter-thin-italic.woff") format("truetype");
}

@font-face {
  font-family: "Inter-Regular";
  src: url("fonts/Inter-Regular.woff") format("truetype");
}

@font-face {
  font-family: "Inter-Light";
  src: url("fonts/Inter-Light.woff") format("truetype");
}

@font-face {
  font-family: "Comic-Sans";
  src: url("fonts/ComicSansMS-Italic.woff") format("truetype");
}

/*@font-face {
  font-family: "Monoton";
  src: url("fonts/monoton.woff") format("truetype");
}*/

/*оплатить шрифт тут https://type.today/ru/druk_text_wide */
@font-face {
  font-family: "Druk";
  src: url("fonts/DrukTextWideCyrBold.woff") format("truetype");
}

@media (max-width: 1023px) {
  .desktop {
    display: none;
  }
}

@media (min-width: 1023px) {
  .mobile {
    display: none;
  }
}

/* Custom scrollbar  */

::-webkit-scrollbar {
  width: 12rem;
}

/* ::-webkit-scrollbar:hover {
  width: 20rem;
} */

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: var(--background-color);
  border: 2px solid #0c100f;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--pref-title-color);
}
::-webkit-scrollbar-thumb:active {
  background: var(--pref-title-color);
}
::-webkit-scrollbar-track {
  background: #0c100f;
  border: none;
}
::-webkit-scrollbar-track:hover {
  background: #0c100f;
}
::-webkit-scrollbar-track:active {
  background: #0c100f;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/* -- Custom scrollbar --  */

.test {
  border: 1px solid red !important;

  /* color: red; */
}

.html {
  scroll-behavior: smooth;
  position: relative;
  font-size: calc(100vw / 1920);
  background-color: #1f1f1d;
}

.body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
  /* height: 2000px; */
  font-size: 20rem;
  color: #fff;
  font-family: "Oswald", sans-serif;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

/* a:active {
  color: inherit;
}

a:visited {
  color: inherit;
} */

button {
  background: none;
  border: none;
  cursor: pointer;
}

.header {
  width: 100%;
  height: 100vh;
  max-height: 980rem;

  display: flex;
  /* flex-direction: column;
  justify-content: space-between; */
  /* position: relative; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  align-items: flex-end;

  padding: 0 60rem 60rem;

  background: url(img/main.png);
  background-size: cover;
  background-position: 50% 50%;

  font-size: 20rem;

  filter: blur(0px);

  transition: filter 0.15s ease-in-out;
}

.header.scroll {
  filter: blur(6px);

  pointer-events: none;
  user-select: none;
}

.header__links {
  width: 100%;
  padding: 0 60rem;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;

  /* backdrop-filter: blur(0rem); */
  /* transition: 0.5s 0.6s ease-in-out, box-shadow 0.5s ease-in-out; */
  transition: 0.5s ease-in-out;
}

.header__links.scroll {
  /* backdrop-filter: blur(16rem); */
  /* background-color: rgba(12, 16, 15, 0.26); */
  /* background-color: #0c100f; */
  /* background-color: #1f1f1d; */

  transition: 0.5s 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.header__links.shadow {
  box-shadow: 0 12rem 21rem #0c100f;
}

.header__links.shadow .header__links-bg {
  top: 0;
  opacity: 1;
}

.header__links-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header__links-bg {
  width: 100%;
  height: 100%;

  position: absolute;
  /* top: -100%; */
  top: -100%;
  left: 0;

  background-color: #1f1f1d;
  opacity: 0;

  transition: 0.5s ease-out, opacity 0.3s ease-out;
}

.header__links.scroll .header__links-bg {
  top: 0;
  opacity: 1;

  /* transition: 0.5s ease-out, opacity 0.3s 0.2s ease-out; */
  transition: 0.5s ease-out, opacity 0.5s 0.3s ease-out;
}

.header__links-underline-wrapper {
  width: 100vw;
  margin-left: -60rem;
}

.header__links-underline {
  width: 0;
  height: 1px;

  margin: 0 auto;

  /* background: var(--button-text-color); */

  /* background: -webkit-linear-gradient(90deg, transparent 0%, rgb(255, 255, 255) 50%, transparent 100%);
  background: -moz-linear-gradient(90deg, transparent 0%, rgb(255, 255, 255) 50%, transparent 100%);
  background: linear-gradient(90deg, transparent 0%, rgb(255, 255, 255) 50%, transparent 100%); */
  background: #fff;
  opacity: 0.5;

  transition: 0.5s 0.3s ease-in-out;
}

.header__links-underline.scroll {
  width: 100%;
  /* transition: width 0.3s ease-in-out; */
  background-color: transparent;

  transition: width 0.5s 0.3s ease-in-out,
    background-color 0.5s 0.8s ease-in-out;
}

.logo {
  width: max-content;
  height: fit-content;

  display: flex;
  align-items: baseline;

  position: relative;
  text-shadow: 1rem 1rem 2rem var(--calc-background-color);
}

.logo__auto {
  /* font-family: "Monoton", cursive; */
  font-family: "Comic-Sans";
  /* font-size: 32rem; */
  font-size: 40rem;
  color: var(--header-nav-color);

  text-transform: uppercase;
  transition: font-size 0.3s ease-in-out;
  display: inline-block;
}

.logo__auto.scroll {
  font-size: 32rem;
}

.logo__kraftwerk {
  font-family: "Inter-Italic-Thin", sans-serif;
  /* font-size: 22rem; */
  font-size: 27.5rem;
  color: var(--header-nav-color);
  font-weight: 200;
  /* margin-left: -4rem; */
  display: inline-block;
  transition: font-size 0.3s ease-in-out;
  text-transform: uppercase;
}

.logo__kraftwerk.scroll {
  font-size: 22rem;
}

.logo__underline {
  position: absolute;
  bottom: -4rem;
  left: 0;
  width: 100%;
  /* width: 240rem;
  height: 17.1rem; */
  /* transform: scaleY(75%); */
  /* transition: 0.3s ease-in-out; */
  filter: drop-shadow(1rem 1rem 0.75rem rgba(37, 37, 37, 0.75));
}

/* .logo__underline path {
  width: 100%;
  height: 100%;
  filter: drop-shadow(1rem 1rem 2rem red);
} */

.header__menu {
  display: flex;
  margin-top: 40rem;
  margin-bottom: 40rem;
  /* gap: 32rem; */
  transition: margin 0.3s ease-in-out;
}

@media (min-width: 1024px) {
  .header__menu:hover .header__menu-link {
    opacity: 0.5;
  }
}

.header__menu-item.desktop {
  transition: opacity 0.3s ease-out;
}

@media (min-width: 1024px) {
  .header__menu-item.desktop.hover {
    opacity: 0.5;
  }

  .header__menu .header__menu-link:hover {
    opacity: 1;
  }
}

.header__menu.scroll {
  margin-top: 20rem;
  margin-bottom: 20rem;
}

.header__menu-link {
  font-family: "Oswald", sans-serif;
  font-size: 22rem;
  font-weight: 300;
  color: var(--header-nav-color);
  text-shadow: 1rem 1rem 2rem var(--calc-background-color);
  /*transition: color 0.3s ease-out, opacity 0.3s ease-out;*/
  transition: 0.3s ease-out;
  text-transform: uppercase;
  padding: 0 16rem;
  position: relative;
}

.header__menu-link.last {
  padding-right: 0;
}

@media (min-width: 1024px) {
  .header__menu-link:after {
    border: none;
    content: "";
    display: block;
    position: absolute;
    right: 16rem;
    bottom: -4rem;
    width: 0;
    height: 2rem;
    background-color: var(--h1-color);
    border-radius: 2rem;
    transition: width 0.5s;
    filter: drop-shadow(1rem 1rem 0.75rem rgba(37, 37, 37, 0.5));
  }

  .header__menu-link:hover:after {
    border: none;
    content: "";
    /* width: 100%; */
    width: calc(100% - 32rem);
    display: block;
    position: absolute;
    left: 16rem;
    bottom: -4rem;
    height: 2rem;
    background-color: var(--h1-color);
    border-radius: 2rem;
    transition: width 0.5s;
    filter: drop-shadow(1rem 1rem 0.75rem rgba(37, 37, 37, 0.5));
  }

  .header__menu-link.last:after {
    right: 0;
  }

  .header__menu-link.last:hover:after {
    width: calc(100% - 16rem);
  }

  /* .header__menu-link.hover { */
  .hover {
    opacity: 0.42 !important;
  }

  .header__menu-link:hover {
    /* color: var(--h1-color); */
  }
}

.header__contacts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__info {
  margin-top: -20rem;
  position: absolute;
  top: 50%;
  left: 60rem;
  transform: translateY(-50%);
}

.header__title {
  text-transform: uppercase;
  font-family: "Druk", sans-serif;
  color: var(--h1-color);
  font-size: 72rem;
  width: 1000rem;
  text-shadow: 3rem 3rem 2rem var(--calc-background-color);
  line-height: 1.05;
}

.header__desc {
  margin-top: 32rem;
  font-family: "Oswald", sans-serif;
  font-size: 38rem;
  letter-spacing: 0.35rem;
  color: var(--header-nav-color);
  font-weight: 300;
  text-shadow: 1rem 1rem 2rem var(--calc-background-color);
}

.header__scroll-buttons {
  margin-top: 48rem;

  display: flex;
  gap: 40rem;
  align-items: center;
}

.header__address {
  font-family: "Oswald", sans-serif;
  font-size: 22rem;
  font-weight: 300;
  transition: color 0.3s ease-out;
  color: var(--header-nav-color);
  text-shadow: 1rem 1rem 2rem var(--calc-background-color);
  position: relative;
}

/* @media (min-width: 1024px) {
  .header__address:hover {
    color: var(--h1-color);
  }
} */

@media (min-width: 1024px) {
  .header__address:after {
    border: none;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -4rem;
    width: 0;
    height: 2rem;
    background-color: var(--h1-color);
    border-radius: 2rem;
    transition: width 0.5s;
    filter: drop-shadow(1rem 1rem 0.75rem rgba(37, 37, 37, 0.5));
  }

  .header__address:hover:after {
    border: none;
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -4rem;
    height: 2rem;
    background-color: var(--h1-color);
    border-radius: 2rem;
    transition: width 0.5s;
    filter: drop-shadow(1rem 1rem 0.75rem rgba(37, 37, 37, 0.5));
  }
}

.go-to__link.to-calc {
  height: 44rem;
  width: 240rem;
  background-color: #fff;
  color: #0c100f;
  box-sizing: border-box;
  position: relative;
  line-height: 44rem;
  font-size: 16rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  background-image: linear-gradient(var(--h1-color), var(--h1-color));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% 0%;
  transition: 0.3s ease-out, background-color 0.15s ease-out;
  font-family: "Montserrat", sans-serif;
  box-shadow: 1rem 1rem 2rem var(--calc-background-color);
}

@media (min-width: 1024px) {
  .go-to__link.to-calc:hover {
    background-size: 100% 100%;
    background-color: transparent;
    color: #0c100f;
    box-shadow: none;
  }
}

.go-to__link.read-more {
  height: 44rem;
  width: 240rem;
  color: #fff;
  border: 1px solid #fff;
  box-sizing: border-box;
  position: relative;
  line-height: 44rem;
  font-size: 16rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background: transparent;
  background-image: linear-gradient(var(--h1-color), var(--h1-color));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.3s ease-out, border-color 0.3s ease-out;
  font-family: "Montserrat", sans-serif;
  box-shadow: 1rem 1rem 2rem var(--calc-background-color);
}

/* .go-to__link.scroll {
  pointer-events: none;
  user-select: none;
} */

@media (min-width: 1024px) {
  .go-to__link.read-more:hover {
    background-size: 100% 100%;
    font-weight: 600;
    color: #0c100f;
    border: transparent;
    box-shadow: none;
  }
}

.header__socials {
  display: flex;
  /* gap: 22rem; */
}

@media (min-width: 1024px) {
  .header__socials:hover .header__socials-link {
    opacity: 0.5;
  }

  .header__socials .header__socials-link:hover {
    opacity: 1;
  }
}

.header__socials-link {
  /* width: 24rem; */
  width: 46rem;
  height: 24rem;

  display: flex;
  align-items: center;

  flex-shrink: 1;

  font-size: 24rem;

  padding: 0 11rem;

  transition: color 0.3s ease-out, opacity 0.3s ease-out;
  color: var(--header-nav-color);

  filter: drop-shadow(1rem 1rem 0.75rem rgba(37, 37, 37, 0.75));
}

.header__socials-link.first {
  width: 35rem;
  padding-left: 0;
}

@media (min-width: 1024px) {
  /* .socials-ok:hover {
    color: #f0832f;
  }

  .socials-tg:hover {
    color: #229ed9;
  }

  .socials-wa:hover {
    color: #25d366;
  }

  .socials-vk:hover {
    color: #4c75a3;
  }

  .header__socials-btn:hover {
    color: var(--h1-color);
  } */
}

.header__socials-btn {
  display: grid;
  align-items: center;
  justify-content: center;
}

.header__socials-btn * {
  display: inline-block;
}

/*///////////////////// services /////////////////////*/

.section {
  width: 100%;
  /* padding: 90rem 60rem; */
  padding: 120rem 60rem;
  /* background-image: url(img/asphalt-4.jpg); */
  /* background: #fff; */

  position: relative;
}

.section__content {
  margin-top: 120rem;
}

.section__content.low {
  margin-top: 60rem;
}

.section__counter {
  position: absolute;
  top: 62rem;
  right: 82rem;

  font-family: Druk;
  font-size: 120rem;
  letter-spacing: -0.06em;
  color: rgba(255, 255, 255, 0.025);

  transform: scaleY(2.1);

  user-select: none;
}

.section__counter-span {
  display: inline-block;
  position: relative;
  top: -50rem;
}

.section__title {
  font-size: 54rem;
  color: var(--h1-color);
  text-transform: uppercase;
  font-family: "Druk", sans-serif;
}

.section__desc {
  font-size: 32rem;
  color: var(--header-nav-color);
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

.services__cards {
  width: calc(100% + 60rem * 2);
  /* margin-top: 60rem; */
  margin-top: 120rem;
  margin-left: -60rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* gap: 32rem; */
  /* gap: 2px; */
  gap: 0;
  border: 0.5px solid rgba(255, 255, 255, 0.75);
}

.services__card {
  width: 100%;
  /* height: 360rem; */
  height: auto;
  aspect-ratio: 5 / 3;
  border: 0.5px solid rgba(255, 255, 255, 0.75);
  position: relative;
  background-color: #333;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  .services__card:hover {
    /* transform: scale(1.05); */
    /* box-shadow: 0rem 12rem 20rem rgba(0, 0, 0, 0.5); */
    /* z-index: 2; */
  }

  .services__card:hover .service-card__picture img {
    /* filter: contrast(1.2); */
    /* transform: scale(1.04); */
  }

  .services__card:hover .service-card__desc {
    /* background: var(--h1-color); */
    /* background: #0c100f; */

    /* transition: background 0.25s ease-out, height 0.5s ease-out; */
    transition: 0.5s ease-out, border-color 0.2s ease-out;
    background: rgba(255, 255, 255, 0.5);
    /*height: 200%;*/
    transform: scale(1.65);
    border-color: transparent;
  }

  .services__card:hover .service-card__desc * {
    transition: 0.15s 0.15s ease-out, opacity 0.25s;
    opacity: 0;
  }

  .services__card:hover .service-card__line {
    background: -webkit-linear-gradient(
      90deg,
      transparent 0%,
      #fff 50%,
      transparent 100%
    );
    background: -moz-linear-gradient(
      90deg,
      transparent 0%,
      #fff 50%,
      transparent 100%
    );
    background: linear-gradient(
      90deg,
      transparent 0%,
      #fff 50%,
      transparent 100%
    );
  }

  .services__card:hover .service-card__desc_hover {
    transform: translate(-50%, -50%) scale(1);

    opacity: 1;
    visibility: visible;

    transition: 0.3s 0.25s ease-out, opacity 0.3s 0.15s;
    transition: 0.3s 0.15s ease-out, opacity 0.3s 0.3s ease-out;
  }
}

.service-card__picture {
  /* width: 100%; */
  height: 100%;
  filter: contrast(0.75);
  /* transition: filter 0.25s ease-out, transform 0.25s ease-out; */
  min-width: 100%;
  min-height: 100%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.service-card__picture img {
  /*transition: filter 0.25s ease-out, transform 0.25s ease-out;*/
  transition: 0.3s;
}

/* @media (min-width: 1024px) {
} */

.service-card__picture img {
  width: 100%;
  /* height: 100%; */
}

.service-card__desc {
  /* width: calc(100% - 6rem - 6rem);
  height: 140rem; */
  /* width: 400rem; */
  height: 80%;
  width: 63%;
  /*aspect-ratio: 1.1 / 1;*/
  /* aspect-ratio: 1.31 / 1; */

  /*position: absolute;*/
  /* left: 6rem;
  bottom: 6rem; */
  /*left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);*/

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 16rem 20rem;
  background: rgba(0, 0, 0, 0.75);
  /* border-radius: 4rem; */
  border: 1px solid rgba(255, 255, 255, 0.75);

  backdrop-filter: blur(4px);

  /*  transition: background 0.25s ease-out, height 0.25s ease-out;*/
  transition: 0.3s cubic-bezier(0.33, 1, 0.68, 1) 0.15s;

  text-align: center;
}

.service-card__desc * {
  /* transition: 0.3s 0.15s ease-out, opacity 0.15s 0.3s ease-out;*/
  transition: 0.15s 0.3s ease-out;
}

.service-card__desc_hover {
  height: 84%;
  /* aspect-ratio: 1.1 / 1;*/
  aspect-ratio: 1.3 / 1;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  z-index: 1;
  opacity: 0;
  visibility: hidden;

  transition: 0.3s ease-out;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border: 1px solid rgba(31, 31, 29, 0.74);

  padding: 16rem 20rem;

  text-align: center;
}

.service-card__desc_hover .service-card__desc-title {
  color: #0c100f;
}

.service-card__desc_hover .service-card__desc-note {
  font-family: "Oswald", sans-serif;
  color: #0c100f;

  line-height: 1.15;

  font-size: 16rem;
  text-transform: uppercase;
}

.service-card__desc_hover .service-card__desc-price {
  color: #0c100f;
}

.service-card__line {
  width: calc(100% - 12rem - 12rem);
  height: 1px;

  position: absolute;
  left: 12rem;

  margin: 0 auto;

  /* background: var(--button-text-color); */

  background: -webkit-linear-gradient(
    90deg,
    transparent 0%,
    #d6a354 50%,
    transparent 100%
  );
  background: -moz-linear-gradient(
    90deg,
    transparent 0%,
    #d6a354 50%,
    transparent 100%
  );
  background: linear-gradient(
    90deg,
    transparent 0%,
    #d6a354 50%,
    transparent 100%
  );

  transition: background 0.3s ease-out;
}

.service-card__line.top {
  top: 12rem;
}

.service-card__line.bottom {
  bottom: 12rem;
}

.service-card__desc-title {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 24rem;
  color: var(--header-nav-color);
  line-height: 1.15;
  text-transform: uppercase;
}

.service-card__desc-note {
  font-family: "Oswald", sans-serif;
  color: var(--header-nav-color);
  line-height: 1.15;

  font-size: 16rem;
  text-transform: uppercase;
}

.service-card__desc-price {
  color: var(--h1-color);

  font-size: 18rem;
}

.footer {
  background-color: #0c100f;
  padding: 60px 20px 20px;

  position: relative;
  z-index: 1;
}

.footer .logo {
  display: block;
  margin: 0 auto 60px;
}

.footer-field {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer-field a {
  color: #cccccc;
}

.footer-field nav {
  margin-bottom: 4px;
}

.footer-field nav a,
.footer-field nav p {
  display: block;
  width: fit-content;
  margin: 0 auto;
  height: 42px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.035em;
  font-size: 20px;
  font-weight: 300;
}

.footer-field nav a:hover {
  /* color: #d6a354; */
  color: var(--h1-color);
}

.footer-field section {
  text-align: center;
}

.footer .not-offer {
  max-width: 1100px;
  text-align: center;
  margin: 0 auto;
  color: #cccccc;
  font-size: 12px;
  font-weight: 200;
}

.footer-field p {
  font-family: "Inter";
  font-weight: 300;
  font-size: 14px;
  color: #cccccc;
}

.footer-string {
  height: 40px;
  width: 100%;
  background-color: #060502;
  padding-right: 20px;

  position: relative;
  z-index: 1;
}

.footer-string__field {
  max-width: 1100px;
  margin: 0 auto;
  font-size: 12px;
  color: #303030;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
}

.footer-string__dates {
  color: #cccccc;
  font-weight: 300;
}

.footer-string a {
  font-size: 12px;
  color: #404040;
  line-height: 40px;
}

.footer-string a:hover {
  text-decoration: underline;
}

.footer .socials {
  display: flex;
  width: fit-content;
  margin: 0 auto 80px;
}

.footer .socials a {
  background-color: rgba(65, 65, 65, 1);
}

.footer .auto {
  font-size: 40px;
}

.footer .kraftwerk {
  font-size: 28px;
}

.footer .socials-img.socials-img1:active {
  background-color: #ccc;
}

.footer .share-btn:active {
  background-color: #ccc;
}

.works-slider {
  display: grid;
  grid-template-columns: repeat(2, 880rem);
  gap: 40rem;
}

.works-slider__image {
  width: 880rem;
  height: 528rem;

  background: #ccc;

  border-radius: 12rem;

  overflow: hidden;
}

.works-slider__text {
  position: relative;
  z-index: 1;
}

.works-slider__image img {
  min-width: 100%;
  min-height: 100%;

  object-fit: cover;
}

img-comparison-slider {
  min-width: 100%;
  min-height: 100%;
}

/* .works-slider__title { */
.swiper[data-slider="works-title"] {
  width: 1012rem;
  height: 80rem;

  text-wrap: nowrap;

  /* font-size: 64rem; */
  font-size: 72rem;

  position: relative;

  margin-top: 28rem;
  margin-left: -136rem;

  color: #fff;
  text-transform: uppercase;
  font-family: "Druk", sans-serif;

  pointer-events: none;

  /* text-shadow: 5px 5px rgba(255, 255, 255, 0.15); */
}

.swiper[data-slider="works-title"] .swiper-wrapper {
  transition-delay: 0.25s;
}

.swiper[data-slider="works-title"] .swiper-slide {
  width: 1012rem;
  height: 80rem;
  display: grid;
  align-items: center;

  /* transition: 0.5s; */

  /* transition-delay: 0.25s; */
}

.works-slider__title-wrapper {
  overflow: hidden;
}

.works-slider__title {
  transition: 0.5s cubic-bezier(0.33, 1, 0.68, 1);
  transform: translateY(-100%);

  padding-bottom: 14rem;
}

.swiper[data-slider="works-title"] .swiper-slide-next .works-slider__title {
  transform: translateY(100%);
}

.swiper[data-slider="works-title"] .swiper-slide-active .works-slider__title {
  transform: translate3d(0, 0, 0);
  transition-delay: 0.5s;
}

.swiper[data-slider="works-desc"] .swiper-wrapper {
  transition-delay: 0.25s;
}

.swiper[data-slider="works-desc"] {
  width: 100%;
}

.swiper[data-slider="works-desc"] .swiper-slide {
  opacity: 0;
  transition: 0.25s;
}

.swiper[data-slider="works-desc"] .swiper-slide-active {
  opacity: 1;
  transition: 0.75s;

  transition-delay: 0.5s;
}

.works-slider__desc {
  /* margin-left: 240rem; */
  margin-top: 48rem;
}

.works-slider__desc ul {
  width: 600rem;

  margin-left: 240rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8rem 120rem;
}

.works-slider__desc ul li {
  font-size: 20rem;
  line-height: 140%;
  font-weight: 300;
  text-transform: uppercase;

  position: relative;
}

.works-slider__desc ul li::before {
  content: "";

  display: block;
  width: 14rem;
  height: 4rem;
  border-radius: 1rem;

  position: absolute;
  top: 8rem;
  left: -32rem;

  background: var(--h1-color);
}

.works-slider__remote {
  width: 100%;

  position: absolute;
  bottom: 0;
  padding-left: 208rem;

  display: flex;
  justify-content: space-between;
}

.works-slider__remote * {
  flex-shrink: 0;
}

.works-slider__pagination {
  width: max-content !important;
  display: flex;
  align-items: flex-end;
  gap: 18rem;
}

.works-slider__pagination .swiper-pagination-bullet {
  width: 2rem;
  height: 28%;

  border-radius: 1rem;
  background: rgba(255, 255, 255);
  opacity: 0.4;

  padding: 0;
  margin: 0 !important;

  transition: 1s cubic-bezier(0.33, 1, 0.68, 1);
}

.works-slider__pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  height: 100%;
  opacity: 1;
}

.works-slider__buttons {
  display: flex;
  gap: 8rem;
}

.works-slider__button {
  width: 80rem;
  height: 80rem;

  border: 1px solid #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0.4;

  transition: 0.5s ease-out;
}

@media (min-width: 1023px) {
  .works-slider__button:hover {
    opacity: 1;
  }
}

.works-slider__button.left svg {
  rotate: 180deg;
}

.works-slider__button svg {
  width: 9rem;
  height: 15rem;
}

.works-slider__button svg * {
  transition: 0.5s ease-out;
}

.works-slider [data-slider="works-img"] {
  width: 880rem;
  height: 528rem;

  border-radius: 12rem;
}

.works-slider [data-slider="works-img"] .swiper-slide {
  width: fit-content !important;
  cursor: ew-resize;
}
