* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #1e1e1e;
  --color: #ccc;
  --title-article-color: #66bb6a;
  --text-color: #fff;
}

.body {
  background-color: var(--background-color);
  color: var(--color);
  font-family: sans-serif;
  overflow-x: hidden;
}

.h1 {
  text-align: center;
  margin-top: 40rem;
  color: var(--title-article-color);
}

.calculator {
  display: flex;
  width: max-content;
  margin: 40rem auto;
  gap: 240rem;
}

.calc-field {
  width: 420rem;
  /* height: 500rem; */
  /* text-align: center; */
  position: relative;
  font-size: 32rem;
  user-select: none;
  /* height: 530rem; */
}

.calc-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8rem;
  margin: 40rem 0;
  position: relative;
}

.calc-field > svg {
  /* position: absolute;
  left: 0;
  bottom: 0; */
  width: 100%;
}

.counter {
  position: absolute;
  font-size: 14rem;
  left: 20rem;
  bottom: -40rem;
}

.checkAllDetailsBtn {
  font-size: 14rem;
  width: 180rem;
  height: 36rem;
  color: var(--color);
  position: absolute;
  top: 0;
  left: 0;
  border-style: solid;
  border-width: 1px;
  border-color: var(--color);
  border-radius: 100rem;
  transition: 0s;
  display: inline-block;
}

.checkAllDetailsBtn:hover {
  color: var(--text-color);
  border-color: var(--text-color);
}

.checkAllDetailsBtn:active {
  transform: translatey(1rem);
}

.clearAllDetailsBtn {
  font-size: 14rem;
  width: 120rem;
  height: 36rem;
  color: var(--color);
  position: absolute;
  top: 0;
  right: 0;
  border-style: solid;
  border-width: 1px;
  border-color: var(--color);
  border-radius: 100rem;
  transition: 0s;
  display: inline-block;
  margin-bottom: 40rem;
  margin-right: 0;
}

.clearAllDetailsBtn:hover {
  color: var(--text-color);
  border-color: var(--text-color);
}

.clearAllDetailsBtn:active {
  transform: translatey(1rem);
}

.calc-detail {
  transition: 0.3s cubic-bezier(0.33, 1, 0.68, 1);
  cursor: pointer;
}

.selected {
  fill: var(--title-article-color);
}

.selected:hover,
.selected-hover {
  fill: #58a25c;
}

.calc-buttons button {
  /* position: absolute; */
  height: max-content;
  cursor: pointer;
  background-color: transparent;

  font-size: 16rem;
  color: #fff;
  padding: 8rem 20rem;
  border: 2px solid #fff;
  border-radius: 4rem;

  display: inline-block;
}

.calc-buttons #calc-help {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  border: none;
  width: 64rem;
  height: 64rem;
  border-radius: 50%;
  box-shadow: 0 0 8rem #ccc;
  font-size: 36rem;
  font-family: druk;
  background: #0c100f;
  color: var(--h1-color);
  position: relative;
}

.calc-result {
  display: flex;
  position: relative;
}

.calc-instruction {
  position: absolute;
  top: 65rem;
  left: 0;
  width: 500rem;
  height: 460rem;
  background-color: #252525;
  z-index: 9;
  text-align: justify;
  line-height: 0.45em;
  transition: all ease-in-out 0.5s;
}

.calc-instruction__article {
  border: 2rem solid var(--color);
  width: 100%;
  height: 100%;
  padding: 28rem 20rem;
  font-weight: 400;
  cursor: default;
}

.scheme-instruction {
  display: grid;
  grid-template-columns: 100rem auto;
  grid-template-rows: auto;
  letter-spacing: 0.035em;
  font-size: 18rem;
  font-weight: 300;
}

.scheme-instruction * {
  align-self: center;
  justify-self: center;
}

.calc-instruction p {
  font-size: 15rem;
  line-height: 1.5;
  padding: 0.5rem;
  justify-self: left;
}

.arrow_box {
  width: 100%;
  height: 100%;
  padding: 24rem;
  position: relative;
}

.arrow_box:after,
.arrow_box:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(37, 37, 37, 0);
  border-right-color: #252525;
  border-width: 15rem;
  margin-top: -15rem;
}
.arrow_box:before {
  border-color: rgba(137, 137, 137, 0);
  margin-top: -18rem;
}

.calc-instruction h2 {
  text-align: center;
  margin: 0 auto 20rem;
  font-size: 20rem;
  color: var(--title-article-color);
  text-decoration: none;
  text-transform: uppercase;
}

.calc-item {
  text-align: right;
  list-style: none;
  font-weight: 300;
  font-size: 18rem;
  line-height: 1.7;
  width: 342rem;
  /* max-height: 500rem; */
}

#full-price-label {
  cursor: auto;
}

.calc-item-price {
  list-style: none;
  font-weight: 600;
  line-height: 1.7;
  font-size: 18rem;
  width: 140rem;
  /* max-height: 400rem; */
  text-align: end;
}

.calc-item-price li {
  padding-right: 1em;
}

.calc-item-price .full-price {
  padding-right: 0;
}

.calc-item label {
  cursor: pointer;
}

.calc-item label > span {
  font-size: 16rem;
  user-select: none;
}

.full-price {
  font-size: 24rem;
  margin-bottom: 29rem;
}

.full-price-li {
  font-size: 22rem;
  font-weight: 400;
  margin-bottom: 30rem;
}

.switch {
  display: inline-block;
  height: 17rem;
  position: relative;
  width: 30rem;
}

.switch input {
  display: none;
}

.slider {
  background-color: var(--color);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: var(--text-color);
  bottom: 2rem;
  content: "";
  height: 13rem;
  left: 2rem;
  position: absolute;
  transition: 0.4s;
  width: 13rem;
}

input:checked + .slider {
  background-color: var(--title-article-color);
}

input:checked + .slider:before {
  transform: translateX(13rem);
}

.slider.round {
  border-radius: 17rem;
  bottom: -3rem;
  top: 3rem;
}

.slider.round:before {
  border-radius: 50%;
}

#full-price-label {
  display: inline-block;
}

#full-price-label span {
  font-size: 16rem;
}

.calc-item > li {
  width: max-content;
  margin-right: 0;
  margin-left: auto;
}

.calc-item li label {
  margin-left: 8rem;
}

.calc-banner {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(6, 5, 2, 0.25);
  backdrop-filter: blur(6rem);
  z-index: 9999;
  transition: all 0.3s;
}

.popup {
  padding: 60rem 32rem;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  max-width: 98%;
  background-color: var(--background-color);
  border: 1px solid var(--color);
  border-radius: 2rem;
  transition: all 0.3s;
  box-shadow: 6rem 6rem 12rem rgba(0, 0, 0, 0.25);
  z-index: 3;
  color: var(--text-color);
  text-align: center;
  max-width: 420rem;
}

.popup h2 {
  color: var(--title-article-color);
  font-size: 24rem;
  position: static;
  margin-bottom: 60rem;
}

.popup p {
  font-weight: 400;
  margin-bottom: 60rem;
  font-size: 21rem;
}

.popup__sign-in {
  height: 40rem;
  width: fit-content;
  padding-left: 32rem;
  padding-right: 32rem;
  background-color: var(--title-article-color);
  color: var(--text-color);
  box-sizing: border-box;
  position: relative;
  line-height: 40rem;
  font-size: 14rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  margin: 0 auto 8rem;
  display: block;
}

.popup__no-thanx {
  height: 40rem;
  width: 160rem;
  color: var(--color);
  border: none;
  box-sizing: border-box;
  position: relative;
  line-height: 40rem;
  font-size: 14rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background: transparent;
  margin: 0 auto 8rem;
  display: block;
}

.popup__sign-in:active {
  top: 1px;
}

.popup__no-thanx:active {
  top: 1px;
}

.close.popup__close {
  font-size: 20rem;
  top: 20rem;
  position: absolute;
  right: 20rem;
  width: 24rem;
  height: 24rem;
  color: var(--color);
  background-color: transparent;
  border: none;
}

.calc-banner.show {
  opacity: 1;
  visibility: visible;
}

#scheme-instruction__detail-img {
  height: 30rem;
}

#scheme-instruction__add-repair-img,
#scheme-instruction__choose-all-img,
#scheme-instruction__clear-all-img {
  height: 20rem;
}

.create {
  display: block;
  width: 200rem;
  height: 40rem;
  margin: 0 auto;
}

.my-result {
  max-width: 460rem;
  margin: 20rem auto;
}

.sample {
  display: grid;
  grid-template-columns: auto 80rem;
  column-gap: 40rem;
}

.sample > div {
  text-align: right;
}

.invisible {
  /* visibility: hidden; */
  display: none;
}
