.slider-example-split-line {
    --divider-width: 2px;
    /* --divider-color: #cccccc; */
    --divider-color: #fff;
    --default-handle-opacity: 0.5;
    cursor: ew-resize;
    filter: contrast(1.2);
    width: 50%;
    aspect-ratio: 5 / 3;
    /* height: 326px; */
}

.slider-example-split-line img {
  width: 100%;
  height: auto;
}

.comparison-slider-arrow {
    fill: #fff;
}

.before,
.after {
  margin: 0;
}

.before figcaption,
.after figcaption {
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid #d6a354;
  /* border-radius: 12px; */
  /* color: #505050; */
  color: #fff;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  /* opacity: 0.8; */
  padding: 12px;
  position: absolute;
  /* bottom: 20px; */
  top: 40px;
  transform: translateY(-50%);
  line-height: 100%;
  /* text-transform: uppercase; */
  /* width: 100px;
  height: 40px;
  text-align: center; */
}

.before figcaption {
  left: 20px;
}

.after figcaption {
  right: 20px;
}


/* 1200 */

@media (max-width:1200px) {

  .before figcaption,
  .after figcaption {
    font-size: 14px;
    padding: 8px;
}

}