
.calculator {
    display: flex;
    max-width: 900px;
    margin: 0 auto 20px;
    justify-content: space-between;
    color: #ccc;
}

.calc-field {
    display: block;
    width: 338px;
    height: 500px;
    text-align: center;
    /* background-color:darkslategrey; */
    /* border: solid 2px transparent; */
    position: relative;
    /* color: limegreen; */
    font-size: 32px;
    user-select: none;
    font-family: 'Montserrat', sans-serif;





/* z-index: 99999; */
    height: 530px;
}

.calc-field>svg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.CheckAllDetailsBtn {
    font-size: 14px;
    width: 180px;
    height: 36px;
    /* color: #ccc; */
    color: #ccc;
    /* font-weight: 600; */
    position: absolute;
    top: 0;
    left: 0;
    border-style: solid !important; 
    /* border-width: 1px !important; */
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.75);
    border-radius: 100px;
    transition: 0s;



    display: inline-block;
}

.CheckAllDetailsBtn:hover {
    color: #fff;
    border-color: #fff;
}

.CheckAllDetailsBtn:active {
    transform: translatey(1px);
}

.ClearAllDetailsBtn {
    font-size: 14px;
    width: 120px;
    height: 36px;
    color: #ccc;
    position: absolute;
    top: 0;
    right: 0;
    border-style: solid !important; 
    /* border-width: 1px !important; */
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.75);
    border-radius: 100px;
    transition: 0s;



    display: inline-block;
    margin-bottom: 40px;
    margin-right: 0;
}

.ClearAllDetailsBtn:hover {
    color: #fff;
    border-color: #fff;
}

.ClearAllDetailsBtn:active {
    transform: translatey(1px);
}

.CountDetailsSpan {
    position: absolute;
    bottom: -8px;
    left: 25px;
    /* color: #ccc; */
    font-size: 14px;
}

.calc-field label {
    font-size: 16px;
    font-weight: 400;
    /* color: #ccc; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.calc-field-img {
    width: 100%;
    height: 100%;
    /* filter:drop-shadow( 0 0 20px rgb(255, 240, 101)); */
    position: absolute;
    left: 0;
    z-index: 0;
    bottom: -20px;
    pointer-events: none;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.calc-detail{
    transition: .1s;
    /* fill: #d4d4d4; */
fill: var(--background-color);
    cursor: pointer;
}

/* .calc-detail:hover,
.calc-detail-hover {
    fill: #bfbfbf;
} */

.selected {
    fill:#66bb6a;
}

.selected:hover,
.selected-hover {
    /* fill: #ddd654; */
    fill:#539655;
    /* fill: red; */
}



.calc-element-check {
    width: 55px;
    z-index: 1;
    position: absolute;
    display: none;
    /* filter:drop-shadow( 1px 1px 2px #eee); */
    /* filter:drop-shadow( 0 0 1px rgb(106, 255, 101)); */
}

.calc-field button {
    position: absolute;
    cursor: pointer;
    /* border: none; */
    background-color: transparent;
    /* z-index: 2; */
    /* background-color: rgba(255, 255, 255, .5); */
    /* z-index: 2; */
}

.calc-field button title {
    font-family: Jura;
}

.f-bumper {
    top: 72px;
    left: 98px;
    width: 141px;
    height: 32px;
    border-top-left-radius: 38px;
    border-top-right-radius: 38px;
    /* background-color: blanchedalmond; */
}

.rf-fender {
    top: 132px;
    right: 40px;
    height: 82px;
    width: 57px;    
    border-top-right-radius: 150px;
}

.rf-door {
    top: 223px;
    right: 38px;
    height: 60px;
    width: 60px;
}

.rr-door {
    bottom: 152px;
    right: 38px;
    height: 56px;
    width: 62px;
}

.r-threshold {
    top: 222px;
    right: 3px;
    width: 28px;
    height: 123px;
}

.rr-fender {
    bottom: 89px;
    right: 42px;
    height: 56px;
    width: 58px;
    border-bottom-right-radius: 150px;
}

.r-bumper {
    bottom: 32px;
    left: 100px;
    width: 137px;
    height: 32px;
    border-bottom-left-radius: 38px;
    border-bottom-right-radius: 38px;
}


.l-threshold {
    top: 225px;
    left: 2px;
    width: 28px;
    height: 122px;
}

.lf-fender {
    top: 134px;
    left: 40px;
    height: 82px;
    width: 57px;    
    border-top-left-radius: 150px;
}

.lf-door {
    top: 225px;
    left: 37px;
    height: 60px;
    width: 65px;
}

.lr-door {
    bottom: 150px;
    left: 37px;
    height: 56px;
    width: 62px;
}

.lr-fender {
    bottom: 87px;
    left: 42px;
    height: 56px;
    width: 57px;
    border-bottom-left-radius: 150px;
}

.hood {
    top: 120px;
    left: 104px;
    width: 130px;
    height: 90px;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;

}

.roof {
    top: 238px;
    left: 119px;
    width: 99px;
    height: 105px;
}

.trunk {
    bottom: 83px;
    left: 106px;
    width: 125px;
    height: 52px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.calc-checkbox {
    position: absolute;
}

.calc-result {
    display: flex;
    position: relative;
}

.calc-instruction {
    position: absolute;
    top: 65px;
    left: 0;
    width: 500px;
    height: 460px;
    /* height: auto; */
    background-color: #252525;
    /* background-color: transparent; */

    /* border: solid 2px #898989; */
    /* border-radius: 20px; */
    z-index: 9;
    /* font-size: 12px; */
    /* transition-duration: 1.5s; */
    /* display: none; */
    text-align: justify;
    /* text-indent: 2em; */
    line-height: .45em;
    transition: all ease-in-out .5s;
    filter: drop-shadow(10px 10px 10px #000);
}

.calc-instruction-article{
    /* border: 2px solid #ddd654; */
    border: 2px solid #cccccc;
    /* padding: 10px; */
    width: 100%;
    height: 100%;
    /* padding: 30px 20px; */
    padding: 28px 20px;
    font-family: 'montserrat';
    font-weight: 400;
    cursor: default;
}

.instr-grid {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: auto;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .035em;
    font-size: 18px;
    font-weight: 300;
}
  
.instr-grid * {
    align-self: center;
    justify-self: center;
}

.calc-instruction p {
    /* font-size: 15px; */
    line-height: 1.5;
    padding: .5rem;
    justify-self: left;
}

.calc-instruction p img {
    height: 18px;
    float: left;
    margin-right: 16px;
}

/* .calc-instruction-article h6 {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: underline;
} */

/* .calc-instruction-article::before{
    display: block;
    width: 2px;
    height: 100px;
    transition: .15s ease-in;
    position: absolute;
    bottom: 32px;
    right: 32px;
    background-color: #ddd654;
    content: '';
}

.calc-instruction-article::after{
    display: block;
    width: 100px;
    height: 2px;
    transition: .15s ease-in;
    position: absolute;
    bottom: 32px;
    right: 32px;
    background-color: #ddd654;
    content: '';
} */

.arrow_box {
    width: 100%;
    height: 100%;
    /* padding: 20px 12px 6px; */
    padding: 24px;
    position: relative;
}

.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(37, 37, 37, 0);
	border-right-color: #252525;
	border-width: 15px;
	margin-top: -15px;
}
.arrow_box:before {
	border-color: rgba(137, 137, 137, 0);
	/* border-right-color: #898989; */
	/* border-width: 18px; */
	margin-top: -18px;
}

.calc-instruction h5 {
    text-align: center;
    padding: 0 0 14px;
    /* font-family: 'Montserrat'; */
    font-family: 'Druk';
    text-transform: uppercase;
    /* font-size: 22px; */
    font-size: 20px;
    /* letter-spacing: 2px; */
    /* color: #ddd654; */
    color: #d6a354;
    
    /* text-decoration: underline; */
}

.calc-instruction h6 {
    text-align: center;
    /* margin: 12px auto; */
    margin: 0 auto 20px;
    /* font-size: 14px; */
    font-size: 20px;
    font-family: 'Druk';
    /* text-transform: uppercase; */
    /* color: #ddd654; */
    color: #d6a354;
    
    text-decoration: none;
    text-transform: uppercase;

}






.calc-item {
    text-align: right;
    list-style: none;
    font-weight: 300;
    /* font-size: 16px; */
    font-size: 18px;
    line-height: 1.7;
    /* margin-right: 30px; */
    width: 342px;
    max-height: 500px;
    /* background-color: bisque; */
    
}



#full-price-label {
    cursor: auto;
}

.calc-item-price {
    list-style: none;
    /* font-family: Jura;
    font-weight: 700;     */
    font-family: 'Montserrat';
    font-weight: 600;
    /* line-height: 1.51; */
    line-height: 1.7;
    font-size: 18px;
    width: 140px;
    /* width: 136px; */
    max-height: 400px;
    /* background-color: bisque; */
    text-align: end;
}

.calc-item-price li {
    padding-right: 1em;
}

.full-price {
    padding-right: 0 !important;
}




.calc-item-add-repair {
    width: 120px;
    max-height: 400px;
    /* background-color:rgb(91, 86, 67); */
    list-style: none;
    /* padding-top: 52px; */
    padding-top: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.585;

    /* user-select: none; */
}

.calc-item label {
    cursor: pointer;
}

.calc-item label>span {
    /* font-size: 14px; */
    font-size: 16px;
    user-select: none;
}

.full-price {
    font-size: 24px;
    /* font-weight: 700; */
    margin-bottom: 29px;
    /* margin-bottom: 36px; */
}

.full-price-li {
    /* font-size: 20px; */
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 30px;
    /* margin-bottom: 36px; */
    /* text-transform: uppercase; */
}


#full-price-label {
    /* color: #ccc; */
}

#full-price-label1,
#full-price-label2 {
    font-size: 17px;
    /* color: #ffffff80; */
    user-select: none;
    /* color: #fff; */
}



/* .disabled {
    color: red;
} */

/* .full-price-li input:disabled .full-price-li label span { */
    /* .full-price-li input:disabled  {

    color: rgba(255, 255, 255, 0.5);
} */
/* .full-price-li input  {

    color: rgb(255, 255, 255);
} */




#f-bumper-check {
    top: 52px;
    left: 148px;
}

#rf-fender-check {
    top: 145px;
    right: 40px;
}

#hood-check {
    top: 130px;
    left: 148px;
}

#rf-door-check {
    top: 220px;
    right: 35px;
}

#rr-door-check {
    top: 290px;
    right: 35px;
}

#rr-fender-check {
    bottom: 94px;
    right: 45px;
}

#r-threshold-check {
    top: 250px;
    right: -15px;
}

#r-bumper-check {
    bottom: 25px;
    left: 148px;
}

#trunk-check {
    bottom: 85px;
    left: 148px;
}

#lf-fender-check {
    top: 147px;
    left: 45px;
}

#lf-door-check {
    top: 224px;
    left: 40px;
}

#lr-door-check {
    top: 290px;
    left: 40px;
}

#lr-fender-check {
    bottom: 90px;
    left: 50px;
}

#l-threshold-check {
    top: 254px;
    left: -10px;
}

#roof-check {
    bottom: 185px;
    left: 148px;
}



/* стилизация чекбоксов */
.switch {
    display: inline-block;
    height: 17px;
    position: relative;
    width: 30px;
  }
  
  .switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 2px;
    content: "";
    height: 13px;
    left: 2px;
    position: absolute;
    transition: .4s;
    width: 13px;
  }
  
  input:checked + .slider {
    background-color: #66bb6a;
  }
  
  input:checked + .slider:before {
    transform: translateX(13px);
  }
  
  .slider.round {
    border-radius: 17px;
    bottom: -3px;
    top: 3px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }





  #full-price-label {
    display: inline-block;
    /* margin-left: 20px; */
  }

  #full-price-label span {
    font-size: 16px !important;
  }

  .calc-item>li {
    /* background-color: aqua; */
    width: max-content;
    margin-right: 0;
    margin-left: auto;
  }

  .calc-item li label {
    margin-left: 8px;
  }

  .calc-note-field {
    /* display: table; */
    margin: 0 0 0 auto;
    display: flex;
    /* border: 2px solid #ddd654; */
    border: 2px solid #d6a354;
    
  }

  .calc-note-field * {
    /* border: 2px solid #ddd654; */
    border: 2px solid #d6a354;
    padding: 10px;
    height: auto;
  }

  .attention {
    font-family: 'Druk';
    font-size: 72px;
    line-height: 0;
    /* color: #ddd654; */
    color: #d6a354;
    position: relative;
}

.attention::before {
    content: '';
    width: 260px;
    height: 2px;
    /* background-color: #ddd654; */
    background-color: #d6a354;
    
    display: block;
    position: absolute;
    top: -8px;
    left: -40px;
}

.attention::after {
    content: '';
    width: 2px;
    height: 50px;
    /* background-color: #ddd654; */
    background-color: #d6a354;
    
    display: block;
    position: absolute;
    top: -8px;
    left: -40px;
}
 
.calc-note {
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #dddddd;
    max-width: 720px;
    padding: 0 0 40px;
    /* float: right; */
    /* margin-bottom: 60px; */
    text-indent: 125px;
    text-align: justify;
    margin: 0 40px 0 0;
    position: relative;

  }

  .calc-note::before {
    content: '';
    width: 260px;
    height: 2px;
    /* background-color: #ddd654; */
    background-color: #d6a354;
    
    display: block;
    position: absolute;
    bottom: -8px;
    right: -40px;
}

.calc-note::after {
    content: '';
    width: 2px;
    height: 50px;
    /* background-color: #ddd654; */
    background-color: #d6a354;
    display: block;
    position: absolute;
    bottom: -8px;
    right: -40px;
}

  /* .calc-note p{
    text-indent: 125px;
    text-align: justify;
    margin: 0 0 40px;

  } */

  .calc-btn title {
    position: relative;
  }

  /* .calc-btn:after {
    opacity:1;
  } */

  .calc-btn:hover:after {
    position: absolute;
    content: attr(data-title);
    font-size: 12px;
    font-style: italic;
    color: #ccc;
    white-space: nowrap;
  }





  /* .container {
    display: grid;
    grid-template-columns: 120px auto;
    grid-template-rows: 120px auto 120px auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: stretch;
    align-items: stretch;
    background-color: #ddd654;
 } */



 .not-an-offer{
	width: 80%;
    max-width: 1000px;
    margin: 0 auto 90px;
	border-collapse:collapse;
	border-spacing:0;
	height: auto;
}
/* table.iksweb,table.iksweb td, table.iksweb th {
	border: 1px solid #595959;
} */
.not-an-offer td, .not-an-offer th {
	padding: 10px;
	/* width: 30px; */
	/* height: 35px; */
}
/* table.iksweb th {
	background: #347c99; 
	color: #fff; 
	font-weight: normal;
} */

.calc-banner{
position: fixed;
width: 100vw;
height: 100vh;
top: 0;
left: 0;
opacity: 0;
visibility: hidden;
/* visibility: visible; */
background-color: rgba(6, 5, 2, 0.25);
/* background-color: var(--background-color); */
backdrop-filter: blur(6px);
z-index: 9999;
transition: all .3s;
}

.calc-popup {
    /* padding: 24px 42px 28px; */
    padding: 60px 40px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* width: 260px; */
  width: auto;
  max-width: 98%;
  /* background-color: #252525; */
  background-color: var(--background-color);
  /* border: solid 2px #fff; */
  border-radius: 2px;
  /* visibility: hidden; */
  /* opacity: 0; */
  transition: all .3s;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.25);
  z-index: 3;
  color: var(--text-color);
  text-align: center;
  max-width: 420px;
}

.calc-popup h3 {
    font-family: 'Druk', sans-serif;
    color: var(--title-article-color);
    font-size: 24px;
    position: static;
    margin-bottom: 60px;
}

.calc-popup h4 {
    font-weight: 400;
    margin-bottom: 60px;
    font-size: 24px;
}
/* 
.popup-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
} */

.popup-sign-in {
    height: 40px;
  /* width: 200px; */
  width: fit-content;
  padding-left: 32px;
  padding-right: 32px;
  background-color:var(--title-article-color);
  color: #fff;
  /* color: var(--background-color); */
  box-sizing: border-box;
  position: relative;
  line-height: 40px;
	font-size: 14px;
  font-weight: 400;
	text-align: center;
  text-decoration: none;
	text-transform: uppercase;
  cursor: pointer;
  border: none;
  /* background-image: linear-gradient(#d6a354, #d6a354); */
  background-image: linear-gradient(var(--h1-color), var(--h1-color));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% 0%;
  transition: all .3s;
  font-family: 'Montserrat', sans-serif;
    margin: 0 auto 8px;
    display: block;
}

.popup-no-thanx {
    height: 40px;
  width: 160px;
  /* color: #0c100f; */
  color: var(--text-color);
  /* border: 1px solid #fff; */
  border: none;
  box-sizing: border-box;
  position: relative;
  line-height: 40px;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
  text-decoration: none;
	text-transform: uppercase;
  /* cursor: pointer; */
  background: transparent;
  /* background-image: linear-gradient(#d6a354, #d6a354);   */
  background-image: linear-gradient(var(--h1-color), var(--h1-color));    
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size .3s, border-color .3s;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto 8px;
    display: block;
}

.popup-sign-in:active {
    top: 1px;
}

.popup-no-thanx:active {
    top: 1px;
}

.close-share-list.popup-close {
    /* color: #fff; */
    font-size: 12px;
}

.calc-banner.show {
    opacity: 1;
    visibility: visible;
  }

