.slick-track {
    display: flex;
}

.slick-list {
    max-width: 1100px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 20px;
}
.gallery {
    position: relative;
    height: auto;
    cursor: grab;
}

.gallery .gallery__item{
    height: 400px;
    text-align: center;
    transition: all .5s;
    opacity: .25;
    margin: 0 5px;
}



.gallery .gallery__item img{
    height: 100%;
}

.gallery .slick-current {
    /* height: 400px;
    width: 600px; */
    opacity: 1;
    position: relative;
}

/* .enlarge {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    cursor: pointer;
    display: grid;
}

.enlarge svg{
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    width: 100%;
    height: 100%;
}

.fa-maximize {
font-size: 32px;
    color: #ddd654;
} */



.gallery .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center; 
    cursor: pointer;
}

.gallery .slick-dots li{
    list-style: none;
}

.gallery .slick-dots li button{
    font-size: 0;
    /* width: 18px; */
    width: 4px;
    height: 4px;
    border-style: none;
    border-radius: 2px;
    margin: 0 6px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
}


.gallery .slick-dots li.slick-active button{
    /* background-color: #ddd654; */
    background-color: #d6a354;
    
}

.gallery .slick-arrow{
    position: absolute;
    /* bottom: -50px; */
    bottom: -11px;
    /* top: 50px; */
    z-index: 9;
    font-size: 0;
    cursor: pointer;
}

.gallery .slick-arrow.slick-prev{
    left: 150px;
    width: 120px;
    height: 30px;
    background: url(../img/main-slider/arrowL.webp) 50% 50% /80% no-repeat;
    /* background-color: #fff; */
    border: none;
}

.gallery .slick-arrow.slick-next{
    right: 150px;
    width: 120px;
    height: 30px;
    background: url(../img/main-slider/arrowR.webp) 50% 50% /80% no-repeat;
    border: none;
    /* background-color: #fff; */
}




